<DOCTYPE html>
    <html>
    <head>
        <title>TextUtils</title>
    </head>
    <body>
    <h1>Welcome to textUtils analyzer</h1>

    <form action="/analyze" method="get">
        {% csrf_token %}
    <textarea name="text" style="margin: 0px; width: 711px; height: 128px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove punctuation
         <input type="checkbox" name="fullcaps">Full Captalize
        <input type="checkbox" name="removespace">Remove Space
        <input type="checkbox" name="charcount">Character Count <br>
    <button type ="submit">Analyze Text</button>
    </form>
    </body>
    </html>